body {
    background-color: gray;
}      

.container{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;

}